<div class="col-md-4 offset-md-4 mt-5">
    <form>
        <div class="form-group">
            <label for="id">Student Id:</label>
            <input type="number" name="id" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email Id:</label>
            <input type="email" name="email" class="form-control">
        </div>

    </form>
</div>