<div class="offset-md-1 mt-5">
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User Id</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of postsService.posts">
            <td>{{post.userId}}</td>
            <td>{{post.id}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
            <td>
                <button class="btn btn-outline-danger" (click)="deletePost(post)">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                (click)="selectPost(post)">
                Update
            </button>
            </td>
        </tr>
    </tbody>
</table>
</div>