<div class="col-md-3 float-left">
    <a routerLink="bikes">
        <img src="https://cdn.pixabay.com/photo/2014/07/31/23/37/motorbike-407186__480.jpg" width="100%"
            alt="Bike Image">
    </a>
    <a routerLink="cars">
        <img src="https://cdn.pixabay.com/photo/2015/09/02/12/25/bmw-918408__480.jpg" width="100%" alt="Car Image">
    </a>
    <a routerLink="planes">
        <img src="https://image.shutterstock.com/image-photo/white-passenger-plane-climbs-through-260nw-523950889.jpg"
            width="100%" alt="Plane Image">
    </a>
</div>
<router-outlet></router-outlet>