<div class="container mt-5">
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let user of users ; index as i'>
            <td>{{i+1}}</td>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
        </tr>
    </tbody>
</table>
</div>